$bg-color: rgb(255, 255, 255);
$font-color: #fff;
$primary-color: #008ed6;
$dark-overlay: rgba(144, 182, 169, 0.5);
$main-red: #ea2929d9;
$main-red-hover: #ea2929;
$icon-size: 30px;
$mainbgcolor: rgba(236, 240, 239, 0.5);

body {
  background: #f1f1f1;
  overflow-x: hidden;
  box-sizing: border-box;
}

.bg-gray {
  background: #f1f1f1;
}

.bg-darkgray {
  background: #666666;
  color: white;
}
.border-white {
  border: 3px solid white;
}

.text-darkbrown {
  color: #764c29;
}

.times {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
}

.text-gray {
  color: #3d3c3c;
}
.nav-top {
  background: darken(#c2b49a, 19%);
  color: white;
  a,
  i,
  span {
    color: white !important;
  }
}
.register,
.login {
  i {
    color: #31c082;
  }
}

.btn-brown-custom {
  background: lighten(#afa381, 4%);
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
}

.btn-brown-custom:hover {
  background: darken(#afa381, 4%);
  color: black;
}

.fa-award {
  color: #afa381;
}

button,
.btn-success-custom-small {
  color: #3b2314;
  background: darken(#badbdf, 4%);
  border: none;
}

.btn-success-custom-small:hover {
  background: lighten(#31c082, 4%);
  color: white;
}

.btn-success-custom {
  color: #3b2314;
  font-size: 1rem;
  background: darken(#badbdf, 4%);
  font-weight: 700;
  border: none;
  text-transform: uppercase;
}

.btn-text {
  text-transform: uppercase;
  font-weight: 700;
}

.btn-success-custom:hover {
  background: lighten(#31c082, 4%);
  color: white;
}
.text {
  color: rgb(83, 83, 83);
}

.name {
  text-transform: uppercase;
  cursor: pointer;
}
.fa-certificate {
  font-size: 5rem;
}

.logout {
  cursor: pointer;
}

.success {
  background: #badbdf;
  color: #3b2314;
}

.orange {
  color: #ff332b;
}

.navbar-brand {
  margin-top: -48px;
}

.navMsg {
  margin-left: 195px;
}
.no-padding {
  padding: 0 0 0 0;
  line-height: 30%;
}
.bold-light-gray {
  color: rgb(109, 108, 108);
  font-size: 14px;
  font-weight: 600;
}
.bold-light-black {
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 600;
}

.small-heading {
  font-size: 13px;
  font-weight: 900;
  line-height: 0%;
}

.font-small {
  font-size: 14px;
}

.btn-custom {
  border: none;
}

.btn-red {
  background: #ff332b;
}
.small-height {
  line-height: 5px;
}

.medium-height {
  line-height: 13px;
}
.light-gray {
  color: rgb(109, 108, 108);
}
.dark-gray {
  color: rgb(68, 68, 68);
  font-weight: 100;
}

.small-par {
  font-size: 0.9rem;
  font-weight: 400;
}
* {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none !important;
}

span.nav-link {
  cursor: pointer;
}

span.name {
  color: gray;
}

#home-section {
  // background: url('./images/bg.jpg') no-repeat;
  background: #fff;
  background-size: cover;
  background-attachment: fixed;
  // min-height: 700px;

  // .overlay {
  //   // background-color: $dark-overlay;

  //   top: 183px;
  //   left: 0;
  //   width: 100%;
  //   min-height: 700px;
  // }

  .home-inner {
    padding-top: 150px;
  }
}

.fa-shopping-cart,
span.class-items {
  color: gray;
}

.fa-shopping-cart {
  cursor: pointer;
}

.card {
  border: none;
  .CardImg {
    height: 225px;
    width: 50%;
    display: block;
  }
}

.cart {
  transform: translateX(100%);
  height: 650px;
  overflow-y: auto;
  z-index: 10;
  position: fixed;
  top: 5.6rem;
  right: 0;
  width: 380px;
  transition: 0.3s ease-in-out;
}
.cart.isShowing {
  transform: none;
}

.listItem {
  width: 510px;
}

.fa-trash {
  color: lightslategray;
  cursor: pointer;
}
.fa-minus {
  color: $main-red;
  cursor: pointer;
}

.fa-trash:hover {
  color: $main-red-hover;
}
.fa-plus,
.fa-user {
  color: green;
  cursor: pointer;
}
.fa-plus,
.fa-minus,
.fa-trash {
  font-size: 0.8rem;
}

button.proceed {
  width: 100%;
  text-align: center;
  font-weight: 600;
}

.label {
  font-size: 12px;
  font-weight: 900;
}
// .login,
// .register {
//   margin: 0 auto;
//   padding-top: 100px;
//   width: 370px;
// }
.brown {
  background: #afa381;
  color: white;
}
.custom-link a:hover {
  color: #31c082;
}
.search {
  font-size: 0.9rem;
  font-weight: 100;
  padding-left: 0.2rem;
}

.text-under {
  margin-top: -400px;
}
//Sticky footer
.content {
  min-height: calc(100vh - 173px);
}

.footer {
  background: gray;
}

.nav-cont {
  margin-right: -45px;
}

.fa-certificate {
  color: #afa381;
}

.text-brown {
  color: #afa381;
}
.text-caps {
  text-transform: uppercase;
}

.divup {
  border-bottom: 1px solid lightgray;
}

.card-border {
  border: 2px solid lightgray;
}

.span-border {
  border: 1px solid lightgray;
}

.div-modal-img > img {
  width: 55px;
}

.modal {
  display: block !important;
}

/* Important part */
.modal-dialog {
  overflow-y: initial !important;
}
.modal-body {
  height: 250px;
  overflow-y: auto;
}

.img-wrap {
  position: relative;
  margin-top: -130px;
  left: -30px;
}

.img-wrap-overlap {
  position: relative;

  z-index: 10;

  img {
    width: 645px;
    height: 380px;
  }
}

.img-caption {
  position: relative;

  h5 {
    text-transform: uppercase;
    color: #fff;
  }
  h1 {
    text-transform: uppercase;
    color: #fff;
  }
}
.text-head {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.6rem;
}

.img-caption-2 {
  width: 100%;
  bottom: 65px;
  right: 50px;
  opacity: 0.9;
  position: relative;
  text-align: right;
  line-height: 60px;
  h3 {
    font-size: 15px;
    color: black;
    text-transform: uppercase;
    display: inline;
    position: relative;
    overflow: hidden;
  }
  h3:after {
    content: '';
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: -5px;
    background: #000;
    height: 4px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  h3:hover:after,
  h3:focus:after,
  h3:active:after {
    left: 0;
    right: auto;
    width: 100%;
  }
}

.border-y {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

@media (min-width: 480px) {
  body {
    overflow-x: hidden;
  }

  .nav-cont {
    margin-right: -47px;
  }
  .wrap-1-of-2 {
    left: -18px;
  }
  .left-caption {
    right: 10px;
    left: -170px;
    bottom: -15px;
  }
  .img-wrap {
    position: relative;
    padding: 0%;
    margin-top: -90px;
    left: -22px;
    .img-caption-2 {
      bottom: 65px;
      right: 20px;
    }
  }

  .wrap-2-of-2 {
    left: 35px;
    width: 405px;
    bottom: 40px;
  }

  .cards {
    position: relative;
    bottom: 120px;

    .card-feature {
      padding-top: 50px;
    }
  }

  .heading {
    position: relative;
    bottom: 80px;
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  body {
    overflow-x: hidden;
  }
  .nav-cont {
    margin-right: -20px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-cont {
    margin-right: -15px;
  }

  .wrap-1-of-2 {
    left: -20px;
  }
  .left-caption {
    right: 10px;
    left: -220px;
    bottom: -15px;
  }

  .img-wrap {
    position: relative;
    padding: 0%;
    margin-top: -90px;
    left: -22px;
    .img-caption-2 {
      bottom: 50px;
      right: 30px;
    }
  }

  .wrap-2-of-2 {
    left: 10px;
    width: 405px;
    bottom: -2px;
    .img-caption-2 {
      bottom: 50px;
      right: 30px;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .nav-cont {
    margin-right: -12px;
  }
  .img-wrap-overlap {
    position: relative;
    // top: -110px;
    bottom: 105px;
    // margin-left: 20px;
    left: 50px;
    z-index: 10;

    img {
      width: 610px;
      height: 330px;
    }
    .img-caption {
      width: 700px;
      bottom: 30px;
      margin-top: -220px;
      bottom: 0;
      left: 45px;
      line-height: 60px;

      h5 {
        font-size: 1.5rem;
        font-weight: 500;
      }
      h1 {
        font-size: 3.3rem;
        font-weight: 600;
      }
    }
  }

  .wrap-1-of-2 {
    left: 0;
  }
  .left-caption {
    right: 10px;
    left: -560px;
    bottom: 0;
  }

  .img-wrap {
    position: relative;
    margin-top: -130px;
    left: -30px;
    .img-caption-2 {
      bottom: 50px;
      right: 30px;
    }
  }

  .wrap-2-of-2 {
    left: 0;
    width: 405px;
    bottom: -2px;
    .img-caption-2 {
      bottom: 70px;
      right: 30px;
    }
  }

  .cards {
    position: relative;
    bottom: 45px;

    .card-feature {
      padding-top: 50px;
    }
  }
  .heading {
    position: relative;
    bottom: 20px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
