$bg-color: rgb(255, 255, 255);
$font-color: #fff;
$primary-color: #008ed6;
$dark-overlay: rgba(144, 182, 169, 0.5);
$main-red: #ea2929d9;
$main-red-hover: #ea2929;
$icon-size: 30px;
$mainbgcolor: rgba(236, 240, 239, 0.5);

body {
  background: $mainbgcolor;
}

.nav-top {
  background: #afa381;
  color: white;
  a,
  i,
  span {
    color: white !important;
  }
}

.text {
  color: rgb(83, 83, 83);
}

.name {
  text-transform: uppercase;
  cursor: pointer;
}

.logout {
  cursor: pointer;
}

.success {
  background: #badbdf;
  color: #3b2314;
}

.orange {
  color: #ff332b;
}

.navbar-brand {
  margin-top: -48px;
}

.navMsg {
  margin-left: 195px;
}

* {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none !important;
}

span.nav-link {
  cursor: pointer;
}

span.name {
  color: gray;
}

#home-section {
  background: url('./images/bg-1.jpg') no-repeat;
  top: 138px;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;

  .overlay {
    background-color: $dark-overlay;

    top: 183px;
    left: 0;
    width: 100%;
    min-height: 700px;
  }

  .home-inner {
    padding-top: 150px;
  }
}

.fa-shopping-cart,
span.class-items {
  color: gray;
}

.fa-shopping-cart {
  cursor: pointer;
}

.card {
  border: none;
  .CardImg {
    height: 225px;
    width: 50%;
    display: block;
  }
}

.cart {
  transform: translateX(100%);
  height: auto;
  z-index: 10;
  position: fixed;
  top: 5.6rem;
  right: 0;
  height: 100%;
  width: 550px;
  transition: 0.3s ease-in-out;
}
.cart.isShowing {
  transform: none;
}

.listItem {
  width: 510px;
}

.fa-trash,
.fa-minus {
  color: $main-red;
  cursor: pointer;
}

.fa-trash:hover {
  color: $main-red-hover;
}
.fa-plus {
  color: green;
  cursor: pointer;
}
.fa-plus,
.fa-minus,
.fa-trash {
  font-size: 0.8rem;
}

button.proceed {
  position: absolute;
  bottom: 5.5rem;
  width: 90%;
  text-align: center;
}

.login,
.register {
  margin: 0 auto;
  padding-top: 100px;
  width: 370px;
}

//Sticky footer
.content {
  min-height: calc(100vh - 180px);
}

@media (min-width: 480px) {
  .nav-cont {
    margin-right: -47px;
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .login,
  .register {
    width: 400px;
  }
  .nav-cont {
    margin-right: -20px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .login,
  .register {
    width: 500px;
  }
  .nav-cont {
    margin-right: -20px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .nav-cont {
    margin-right: -20px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
