$bg-color: rgb(255, 255, 255);
$font-color: #fff;
$primary-color: #008ed6;
$dark-overlay: rgba(144, 182, 169, 0.5);
$icon-size: 30px;

body {
  background: $bg-color;
  // color: $font-color;
  margin-top: 90px;
}

span.nav-link {
  cursor: pointer;
}

span.name {
  color: gray;
}
#navbar {
  .nav-link {
    font-family: 'Roboto', sans-serif;
  }
}

#home-section {
  background: url('./images/bg-1.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;

  .overlay {
    background-color: $dark-overlay;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
  }

  .home-inner {
    padding-top: 150px;
  }
}

.fa-shopping-cart,
span.class-items {
  color: gray;
}

.fa-shopping-cart {
  cursor: pointer;
}

input:focus {
  box-shadow: none !important;
  border-color: lightgray !important;
}

.login,
.register {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .login,
  .register {
    width: 75%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .login,
  .register {
    width: 60%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .login,
  .register {
    width: 50%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
